.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color:#f8bbd0;
  color: #000;
  font-weight: bold;
  text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table td {
  color: #000;
}

.table tbody tr {
  border-bottom: 1px solid #f8bbd0;
}

.table tbody tr:nth-of-type(even) {
  background-color:
  #ff80ab;
}

.table tbody tr:nth-of-type(odd) {
  background-color:#ff4081;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #f8bbd0;
}

.table tbody tr.active-row {
  color: #ffffff;
}

.orderhistory{
  margin : 0 4% 4% 4%;
}